*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ============HEADER============ */
header{
    background-color: #000000;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
.linkHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.linkHeader a{
    color: #ffffff;
    font-size: 1.3em;
    transition: all 0.5s ease-out;
}
.linkHeader a:hover,
.otherLinks a:hover{
    color: gray;
}
.otherLinks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.otherLinks a{
    color: #ffffff;
    font-size: 1.1em;
    text-decoration: none;
    transition: all 0.5s ease-out;
}
@media (max-width:750px) {
    header{
        padding: 0 8px;
        height: 35px;
    }
    .linkHeader, .otherLinks{
        gap: 8px;
    }
    .linkHeader a, .otherLinks a{
        font-size: 1em;
    }
}